%nav.navbar.navbar-default.row{role: "navigation"}
  .navbar-header.col-md-4
    %h1.header_text Scott's Tasty Treats
  %ul.nav.navbar-nav.navbar-right.col-md-2
    %li= link_to "Register", new_user_path, class: "btn btn-success"