.container
  .panel.panel-default
    =link_to "Stripe Connect", 'https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_3O4f4v8bRHREyNYg0tifz6fWdBXQYiCO'.html_safe, class: 'btn btn-default'