header {
  margin-bottom: -20px;
}

.carousel-indicators {
  bottom: 0;
}

.carousel-indicators .active {
  background-color: #222;
}

.carousel-indicators li {
  border-color: #222;
}

#welcomeCarousel {
  height: 800px;
}

#welcomeContent {
  padding-top:75px;
  max-width:90%
}

.carousel_text {
  margin-top: -700px;
  background-color: rgba(243, 229, 229, 0.25);
  color: #FFFFFF
}