header {
  margin-bottom: -20px;
}

.carousel-indicators {
  bottom: 0;
}

.carousel-indicators .active {
  background-color: #222;
}

.carousel-indicators li {
  border-color: #222;
}

#welcomeCarousel {
height: 400px;
padding-top:50px;
}

#welcomeContent {
  padding-top:75px;
  max-width:90%
}

#welcomeContainer {
  background-image:url('/images/strawberry_bowl.jpg');
  background-color:#cccccc;
  min-height:900px;
}