.container
  .panel.row
    =bootstrap_form_for(@product) do |f|
      %div{style: "padding-bottom:15px"}
        =f.text_field :name
        =f.text_field :description
        =f.text_field :image_url, value: "/images/"
        =f.number_field :price
        =f.collection_select :category_id, Category.all, :id, :name
      %div
        =f.submit "add new treat"